* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dedbdb;
}

/*#region HEADER*/
#header_container {
    margin-left: 10px;
    padding-top: 5px;
}


#header {
    background-color: white;
    margin-bottom: 2rem;

}

#header img {
    vertical-align: middle;
    width: 3rem;
    margin-bottom: 10px;
}

#header span {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

/*#endregion HEADER*/

#main {
    width: 800px;
    margin: auto;
    background-color: white;
    padding-bottom: 5rem;

}

.main-container {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.button,
.button-clicked {
    border-radius: 0.5rem;
    padding: 3px;
}

.button-clicked {
    background-color: rgb(41, 162, 236);
    color: white;
}


ul {
    margin-bottom: 30px;
}
li {
    margin-bottom: 20px;
    list-style-type: none;
}

#container-unordered-list {
    margin-top: 10px;
}

.unordered-list-title {
    font-weight: bold;
    font-size: 1rem;

}

.editorial {
    border: 2px solid rgb(11, 178, 178);
    border-radius: 10px;
    background-color: rgb(11, 178, 178);
    font-size: 0.7rem;
    color: white;
    padding: 3px;
}

.q1-goals {
    border: 2px solid rgb(178, 11, 175);
    border-radius: 10px;
    background-color: rgb(178, 11, 175);
    font-size: 0.7rem;
    color: white;
    padding: 3px;
}

.recruiting {
    border: 2px solid rgb(7, 134, 43);
    border-radius: 10px;
    background-color: rgb(7, 134, 43);
    font-size: 0.7rem;
    color: white;
    padding: 3px;
}

.mobile {
    border: 2px solid rgb(207, 133, 13);
    border-radius: 10px;
    background-color: rgb(207, 133, 13);
    font-size: 0.7rem;
    color: white;
    padding: 3px;
}

.website {
    border: 2px solid rgb(218, 42, 127);
    border-radius: 10px;
    background-color: rgb(218, 42, 127);
    font-size: 0.7rem;
    color: white;
    padding: 3px;
}

.sales {
    border: 2px solid rgb(67, 210, 59);
    border-radius: 10px;
    background-color: rgb(67, 210, 59);
    font-size: 0.7rem;
    color: white;
    padding: 3px;
}

.unordered-list-element-check>span:first-child{
    color:green;
    border: 2px solid green;
    border-radius: 100%;
    padding: 1px;
}
.unordered-list-element-cross>span:first-child{
    color:red;
    border: 2px solid red;
    border-radius: 100%;
    padding: 1px;
}

.unordered-list-title h3>span:first-child{
    padding: 5px;
}

.sign-footer{
    margin-top: 30px;
    background-color: white;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
}