* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dedbdb;
}

/*#region HEADER*/
#header_container {
    margin-left: 10px;
    padding-top: 5px;
}


#header {
    background-color: white;
    margin-bottom: 2rem;

}

#header img {
    vertical-align: middle;
    width: 3rem;
    margin-bottom: 10px;
}

#header span {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

/*#endregion HEADER*/

#main {
    width: 600px;
    margin: auto;
    background-color: white;
}

ul {
    margin-bottom: 20px;
    padding: 20px;
}

#container-button-list {
    border-bottom: 1px solid rgb(222, 219, 219);
}

#container-unordered-list {
    margin-top: 10px;
}

.unordered-list-title {
    font-weight: bold;
}